<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>


	<header class="header">
		<nav class="navbar navbar-expand-lg navbar-light " style="background-color: black">
  <div class="container-fluid">
    <a class="navbar-brand text-white" th:href="@{/employee/all}">EMPLOYEE PROJECT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white" th:href="@{/employee/register}">REGISTER</a>
        <a class="nav-link text-white" th:href="@{/employee/all}">VIEW-ALL</a>
      </div>
    </div>
  </div>
</nav>
	</header>

	<footer class="footer" style="bottom: 0%;position: absolute;height: 40px;
	text-align: center;width: 100%;background-color: black;color: white;
	font-size: 20px;
	">
		<p>@All Rights Reserved by the Developer</p>
	</footer>


</body>
</html>